@import '../colors/colors.scss';

.connection {
    margin: 0px 3px 0px 0px;
}

.bluetooth, .connection, .mic, .volume, .battery {
    font-family: "JetBrainsMono";
    font-size: 16px;
    color: $active;
    &:hover {
        color: $white;
    }
}

.volume:hover {
    color: $white;
    .volume-percentage {
        color: $fg;
    }
}

.battery:hover {
    color: $white;
    .battery-percentage {
        color: $fg;
    }
}

.bluetooth, .connection, .mic, .volume {
    background-color: rgba(#ffffff, 0);
    border: 0px;
}

.datetime {
    color: $fg;
    font-size: 12px;
    font-family: "Sanchez";
    font-weight: 900;
    padding: 5px 10px 5px 0px;
    margin: 0px 0px 0px 15px;
}

.volume-percentage, .battery-percentage {
    font-family: "Quicksand";
    font-weight: bold;
    font-size: 12px;
    color: $white;
    &:hover {
        color: $fg;
    }
}

.volume-icon {
    padding: 0px 10px 0px 0px;
}

