@font-face {
    font-family: "Choplin Black";
    src: local("Choplin Black"),
    url("Rene Bieder - Choplin Black.otf");
}

@font-face {
    font-family: "Choplin ExtraBold";
    src: local("Choplin ExtraBold"),
    url("Rene Bieder - Choplin ExtraBold.otf");
}

@font-face {
    font-family: "Choplin Medium";
    src: local("Choplin Medium"),
    url("Rene Bieder - Choplin Medium.otf");
}

@font-face {
    font-family: "Choplin SemiBold";
    src: local("Choplin SemiBold"),
    url("Rene Bieder - Choplin SemiBold.otf");
}
