$bg: #1e1e2e;
$fg: #f5e0dc;
$urgent: #eba0ac;
$inactive:#9399b2; 
$active: #f2cdcd;
$black: #181825;
$white: #cdd6f4;
$red: #f38ba8; 
$green: #a6e3a1;
$blue: #89b4fa;
$cyan: #74c7ec;
$magenta: #cba6f7;

